<h4  class="text-center ">
    <span class="colorVerde">Solicitud de Factura</span>
    <i (click)="cerralModal()" id="close" class="material-icons text-right">clear</i>
    
    <!-- Loader -->
    <div  style="padding: 5px 0px;">
        <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
    </div>
</h4> 
<hr>

<!-- Dialog COntent -->
<mat-dialog-content class="text-center">
    <div class="row">
        <div class="col-sm-12">
            <p><strong>FECHA:</strong> {{ data.fecha }}</p>
        </div>

        <div class="col-sm-12">
            <p> <strong>NOMBRE DEL CLIENTE:</strong> {{ data.razonSocial }} </p>
        </div>
        
        <div class="col-sm-12">
            <p> <strong>FACTURAR A:</strong> {{ data.facturar_a }} </p>
        </div>

        <div class="col-sm-12">
            <p> <strong>NOMBRE DEL TRAMITADOR:</strong> {{ data.nombre_tramitador }} </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <input type="number" placeholder="TELEFONO DEL TRAMITADOR" [(ngModel)]="data.telefono" class="form-control"> 
        </div>

        <div class="col-sm-12 col-md-6">
            <input type="email" placeholder="CORREO DEL TRAMITADOR" [(ngModel)]="data.correo" class="form-control">
        </div>
    </div>

    <!-- Table -->
    <table class="striped centered mt-2">
        <thead>
            <tr>
                <th>NORMA</th>
                <th>TIPO DE SERVICIO</th>
                <th>PRODUCTO, MARCA y MODELO</th>
                <th>PRECIO</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{data.nombre_Norma}}</td>
                <td *ngIf="data.Servicio == 'C';else dictamen">Constancia</td>
                <ng-template #dictamen><td>Dictamen</td></ng-template>
                <td> <strong>Producto:</strong> {{ data.nombre_producto }}; <strong>Marca:</strong> {{ data.marca_producto }}; <strong>Modelo (s):</strong> {{ data.modelo_producto }} </td>
                <td><input type="number" placeholder="PRECIO INICIAL" [(ngModel)]="data.inicial" (change)="sumaTotal()" class="form-control"></td>
            </tr>
            
            <tr *ngFor="let item of contador; let i = index">
               <td></td> 
               <td><input type="text" [(ngModel)]="cuenta.concepto1[i]" class="form-control"></td>
               <td><input type="text" [(ngModel)]="cuenta.concepto2[i]" class="form-control"></td>
               <td><input type="number" [(ngModel)]="cuenta.precio[i]" placeholder="PRECIO" (change)="sumaTotal()" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    <strong>TOTAL SIN IVA:</strong>
                </td>
                <td>
                    <input type="number" placeholder="TOTAL" [(ngModel)]="data.final" class="form-control" readonly>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn botonAzul" style="margin-right: 5px; margin-top: 5px;" [disabled]="desactivado || contador.length === 14" (click)="agregarContador()">Nueva Fila</button>

    <button class="btn botonRojo" style="margin-right: 5px; margin-top: 5px;" [disabled]="desactivado || contador.length === 0" (click)="quitarContador()">Quitar Fila</button>

    <button class="btn botonVerde" style="margin-right: 5px; margin-top: 5px;" [disabled]="desactivado" (click)="enviarFactura()">Guardar Factura</button>

</mat-dialog-content>