<div class="row">
    <form class="col-md-12"  #formAddEmpleado="ngForm">
        <div class="row">
            <h3 class="blue-text col-md-12" style="text-align: center;">Agregar Empleado</h3>

            <div class="divider"></div>

             <!-- Loader -->
             <div class="col-md-12" style="padding: 5px 0px;">
                <mat-progress-bar mode="indeterminate" *ngIf="preloaderActivo"></mat-progress-bar>
            </div>

            <div class="form-group col-sm-12 col-md-6 ">
                <label for="nombre_Empleado">Nombre Empleado:</label>
                <input type="text" #nombre_Empleado="ngModel" [(ngModel)]="empleado.nombre_Empleado" name="nombre_Empleado" required class="form-control" id="nombre_Empleado" oninput="this.value = this.value.toUpperCase()">
            </div>

            <div class="form-group col-sm-12 col-md-6 ">
                <label for="iniciales">Iniciales:</label>
                <input type="text" #iniciales="ngModel" [(ngModel)]="empleado.iniciales" name="iniciales" required class="form-control" id="iniciales" oninput="this.value = this.value.toUpperCase()">
            </div>

            <div class="col-sm-12" style="margin-bottom: 10px;">
                <button class="btn botonCafe waves-effect" (click)="cerrarModal()" style="width: 100%;">Cancelar</button>
            </div>

            <div class="col-sm-12">
                <input class="btn waves-effect waves-light botonVerde" type="submit" style="width: 100%;" value="Guardar" [disabled]="!formAddEmpleado.form.valid || desactivado" (click)="postEmpleado()">
            </div>

        </div>
    </form>
</div>
    